{% extends 'base_bienvenida.html' %} 
{% load static %} 
{% block titulo %}CITT Registro: Alumnos{% endblock %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/login/styles.css' %}" />
<section class="gradient-custom">
  <div class="container py-5 vh-100">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-4 text-center">
            <div class="mb-md-0 mt-md-2 pb-3">
              <img src="{% static 'images/citt.jpeg' %}" alt="Logo" style="height: 40px; margin-right: 10px; border-radius: 50%" />
              <h2 class="fw-bold mb-2 text-uppercase">Registro de alumnos</h2>
              <h2 class="fw-bold mb-2">DUOC CITT</h2>
              <p class="text-white-50 mb-4">A continuación complete los siguientes campos:</p>
              <form action="{% url 'registro-alumno' %}" method="POST" novalidate>
                {% csrf_token %}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="mb-3">
                  <label for="id_username" class="form-label text-white">Usuario</label>
                  {{ form.username }}
                  {% for error in form.username.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="mb-3">
                  <label for="id_password1" class="form-label text-white">Contraseña</label>
                  {{ form.password1 }}
                  {% for error in form.password1.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="mb-3">
                  <label for="id_password2" class="form-label text-white">Repite la contraseña</label>
                  {{ form.password2 }}
                  {% for error in form.password2.errors %}
                    <div class="invalid-feedback d-block">{{ error }}</div>
                  {% endfor %}
                </div>
                <div class="mb-3">
                  <button class="btn btn-outline-light btn-sm px-4 w-100" type="submit">Registrarse</button>
                </div>
              </form>
            </div>
            <div>
              <p class="mb-0">¿Ya tienes una cuenta? <a href="{% url 'login-alumno' %}" class="text-white-50 fw-bold">Inicia sesión</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
