{% extends 'base_bienvenida.html' %} {% load static %} {% block titulo %}CITT
Registro: Alumnos{% endblock %} {% block content %}

<link rel="stylesheet" href="{% static 'css/login/styles.css' %}" />

<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <img
                src="{% static 'images/citt.jpeg' %}"
                alt="Logo"
                style="height: 40px; margin-right: 10px; border-radius: 50%"
              />
              <h2 class="fw-bold mb-2 text-uppercase">Registro de alumnos</h2>
              <h2 class="fw-bold mb-2">DUOC CITT</h2>
              <p class="text-white-50 mb-5">
                A continuación complete los siguientes campos:
              </p>

              <div class="container mt-5">
                <form action="{% url 'registro-alumno' %}" method="POST" class="needs-validation" validate>
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="username" class="form-label text-white"
                          >Usuario</label
                        >
                        <input
                          type="text"
                          pattern="[a-zA-Z0-9-_]{1,15}"
                          class="form-control form-control-lg"
                          id="username"
                          name="username"
                          required
                        />
                        <div class="invalid-feedback">
                          El usuario debe tener entre 1 y 15 caracteres y puede
                          incluir letras, números, guiones y guiones bajos.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="password1" class="form-label text-white"
                          >Ingrese una contraseña</label
                        >
                        <input
                          type="password"
                          class="form-control form-control-lg"
                          id="password1"
                          name="password1"
                          required
                        />
                        <div class="invalid-feedback">
                          Por favor ingresa una contraseña.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="password2" class="form-label text-white"
                          >Ingrese nuevamente la contraseña</label
                        >
                        <input
                          type="password"
                          class="form-control form-control-lg"
                          id="password2"
                          name="password2"
                          required
                        />
                        <div class="invalid-feedback">
                          Las contraseñas no coinciden.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12 mt-3">
                      <button
                        class="btn btn-outline-light btn-lg px-5"
                        type="submit"
                      >
                        Registrarse
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div>
              <p class="mb-0">
                ¿Ya tienes una cuenta?
                <a href="{% url 'login-alumno' %}" class="text-white-50 fw-bold"
                  >Inicia sesión</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
