{% extends 'base_bienvenida.html' %}
{% load static %}
{% block titulo %}CITT: Tracks {% endblock %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <section class="container mt-5 pt-5">
        <h1 class="text-center mb-4">Track</h1>
        <div class="text-center mb-4">
            <img src="{% static 'images/iot.jpg' %}" class="img-fluid" alt="Portada del Track">
        </div>
        <h2 class="text-center mb-3">Profesor Encargado: Juan Pérez</h2>
        <h3 class="text-center mb-3">Jefe de Track: María López</h3>
        <p class="text-center mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros, pulvinar
            facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus. Donec scelerisque sollicitudin enim
            eu venenatis.</p>

        <h2 class="text-center mb-4">Proyectos Realizados</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <img src="{% static 'images/proyecto1.jpg' %}" class="img-fluid" alt="Proyecto 1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="{% static 'images/proyecto2.jpg' %}" class="img-fluid" alt="Proyecto 2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-4 mb-4">
                <img src="{% static 'images/proyecto3.jpg' %}" class="img-fluid" alt="Proyecto 3">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
    </section>
{% endblock %}