{% extends 'base-alumnos.html' %}

{% block titulo %} Crear un proyecto {% endblock %}

{% block content %}

<div class="container" style="padding: 10px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mt-5">
                <div class="card-body" style="background-color: #f8f9fa;">
                    <h2 class="text-center">Crear Proyecto</h2>
                    <form method="post" enctype="multipart/form-data" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.nom_proyecto.label_tag }}
                            {{ form.nom_proyecto }}
                            {% for error in form.nom_proyecto.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.jefe_proyecto.label_tag }}
                            {{ form.jefe_proyecto }}
                            {% for error in form.jefe_proyecto.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.descripcion.label_tag }}
                            {{ form.descripcion }}
                            {% for error in form.descripcion.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.fecha_inicio.label_tag }}
                            {{ form.fecha_inicio }}
                            {% for error in form.fecha_inicio.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.imagen.label_tag }}
                            {{ form.imagen }}
                            {% for error in form.imagen.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.objetivo.label_tag }}
                            {{ form.objetivo }}
                            {% for error in form.objetivo.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.num_integrantes.label_tag }}
                            {{ form.num_integrantes }}
                            {% for error in form.num_integrantes.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="mb-3">
                            {{ form.id_track.label_tag }}
                            {{ form.id_track }}
                            {% for error in form.id_track.errors %}
                                <div class="invalid-feedback d-block">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-primary w-48">Crear Proyecto</button>
                            <a href="{% url 'listar-proyectos' %}" class="btn btn-secondary w-48">Volver</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>  

{% endblock %}
